<div class="col-6 col-md-43 col-lg-3"><a href="https://www.youtube.com/channel/{{ channel.id }}" rel="noopener nofollow"
        title="{{ channel.name }}" target="_blank">{{ channel.name }}</a>
    <p class="card-text">{{ channel.description }}</p>
    <p class="card-meta">
        <iframe class="lazyload" scrolling="no" frameborder="0" height="25px" style="border:none; overflow:hidden; width:135px; height:25px;"
            data-src="https://www.youtube.com/subscribe_embed?channelid={{ channel.id }}"></iframe>
    </p>
</div>