<!--[if lte IE 9]>
    <div style="position: absolute; width:100%; height:100%; left:0; top:0; background-color: #343a40; padding-top:200px; z-index: 999;">
        <div style="color: #ffffff; font-size: 16px;text-align:center;">你的浏览器实在<strong>太旧了！</strong>放学别走，升级完浏览器再说 <a target="_blank" style="color: #4caf50" href="https://browsehappy.com/">立即升级</a></div>
    </div>
<![endif]-->
<header class="main-header">
    <nav class="navbar navbar-dark bg-red">
        <div class="container-fluid container-no-gutters">
            <a class="navbar-brand logo" href="{{ site.url }}"><img alt="logo" height="20" src="{{ site.url }}/static/img/logo.png">
                <span class="small">Youtuber 导航</span></a>
            <form class="search is-hidden form-inline">
                <button type="submit" class="search-input-btn btn"><i class="fi fi-search" aria-hidden="true"></i><span
                        class="icon-text"></span></button>
                <input id="search-input" class="form-control form-dark" type="search" placeholder="搜索你感兴趣的话题"
                    aria-label="Search">
            </form>
            <div class="re-nav">
                <ul id="menu-top-menu" class="navbar-nav nav top-nav">
                    <li id="menu-item-5" class="nav-item menu-item menu-item-type-custom menu-item-object-custom menu-item-5"><a
                            target="_blank" href="javascript:alert('敬请期待~~')">&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                    <li id="menu-item-6" class="nav-item menu-item menu-item-type-custom menu-item-object-custom menu-item-6"><a
                            target="_blank" href="https://t.me/joinchat/HfdrRRGmGk_XSWId9J-SRQ">TG 交流群</a></li>
                    <li id="menu-item-7" class="nav-item menu-item menu-item-type-custom menu-item-object-custom menu-item-7"><a
                            target="_blank" href="https://wj.qq.com/s/2673639/0eff/">频道提交</a></li>
                </ul>
            </div>
            <a class="nav-trigger" href="#0"><span></span></a>
        </div>
    </nav>
</header>