<nav class="side-nav" id="scrollspy">
    <ul class="nav flex-column">
        <li class="label">推荐</li>
        <li id="menu-item-1" class="nav-item community menu-item menu-item-type-custom menu-item-object-custom menu-item-8"><a
                href="#featured">
                <i class="ion ion ion-ios-rocket" style="color:#439dff;"></i>
                精选
            </a></li>
        <li id="menu-item-2" class="nav-item tutorial menu-item menu-item-type-custom menu-item-object-custom menu-item-9"><a
                href="#vlog"><i class="icon ion-ios-film" style="color:#ff3d7f;"></i> VLOG</a></li>
    </ul>
    <ul class="nav flex-column">
        <li class="label">其他</li>
        {% for item in site.data["categories"] %}
        <li class="nav-item ui-framework menu-item menu-item-type-custom menu-item-object-custom menu-item-10"><a href="#{{ item.id }}">
                <i class="{{ item.icon }}" style="color:#{{ item.color }}"></i> {{ item.name }}
            </a></li>
        {% endfor %}
    </ul>
</nav>