<nav class="side-nav" id="scrollspy">
    <ul class="nav flex-column">
        <li class="label">推荐</li>
        <li id="menu-item-1" class="nav-item community menu-item menu-item-type-custom menu-item-object-custom menu-item-8"><a
                href="#featured">
                <i class="ion ion ion-ios-rocket" style="color:#439dff;"></i>
                精选
            </a></li>
        <li id="menu-item-2" class="nav-item tutorial menu-item menu-item-type-custom menu-item-object-custom menu-item-9"><a
                href="#vlog"><i class="icon ion-ios-film" style="color:#ff3d7f;"></i> VLOG</a></li>
    </ul>
    <ul class="nav flex-column">
        <li class="label">其他</li>
        <li id="menu-item-3" class="nav-item ui-framework menu-item menu-item-type-custom menu-item-object-custom menu-item-10"><a
                href="#game">
                <i class="ion ion-logo-game-controller-b" style="color:#ffc107;"></i> 游戏频道
            </a></li>
        <li id="menu-item-4" class="nav-item frontend-framework menu-item menu-item-type-custom menu-item-object-custom menu-item-11"><a
                href="#health"><i class="ion ion-ios-medkit" style="color: #28a745;"></i> 养生医护</a></li>
        <li id="menu-item-5" class="nav-item icon menu-item menu-item-type-custom menu-item-object-custom menu-item-12"><a
                href="#youtube"><i class="ion ion-logo-youtube" style="color:#fc0d1b;"></i> 油管教程</a></li>
        <li id="menu-item-6" class="nav-item icon menu-item menu-item-type-custom menu-item-object-custom menu-item-12"><a
                href="#technology"><i class="ion ion-ios-bulb" style="color:#0ac7bb;"></i> 技术分享</a></li>
    </ul>
</nav>